@model ClientModule.Models.UserViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList RoleList = ViewBag.Roles;
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.LabelFor(model => model.Role.Name)
            @Html.DropDownListFor(model => model.Role.Id, RoleList, "Role", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Role.Id, "", new { @class = "text-danger" })
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



